/* Host and Header */
:host {
  font-family: "Karla", sans-serif;
  --default-primary-color: grey;
}
.header {
  display: block;
  width: 100%;
}
.breadcrumb {
  margin: 1em;
}
/* Document containers */
.documents-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.document-container {
  display: block;
  width: 20%;
  margin: 1em;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .documents-container {
    display: block;
  }
  .document-container {
    width: 90%;
  }
}
.thumbnailContainer {
  display: inline;
}
.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 10px;
  margin-top: 5px;
  text-align: center;
}
.renditionContainer {
  background-color: white;
}
.renditionContainer p {
  font-weight: bold;
}
.renditionContainer paper-button {
  display: flex;
  margin-bottom: 5px;
}

/* Datatable style */
nuxeo-data-table {
  width: 100%;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  --nuxeo-table-header-background: white;
  --nuxeo-page-background: white;
}
.pages {
  margin: 1em;
}
/* Paper styles */
paper-button {
  font-family: "Karla", sans-serif;
}
paper-input {
  font-family: "Karla", sans-serif;
}
